@media(min-width:768px){
	/* Added media query to allow for change in aspect at smaller widths. This greatly improves responsive web design */
	
	.container {
		display: flex;
		
		/* This enables flexbox */
		
		align-items: stretch; /* Not useful here but have left in as may be in future labs */
		
		flex-wrap: wrap; 
		
		/* This allows each column to wrap to the next row if the screen isn't wide enough */
		
		justify-content: space-between;
		
		/* Spreads the 3 columns evenly across the page and puts space in between them */
	
}
	
}

body {
	background-color: #D3D3D3;
	color: brown;
	font-family: Helvetica;
	text-align: center;
	}


.container div{
	border: 3px solid black;
	padding:10px;
}
/* This gives the base style for any div within .container */

.profile1 {
	flex-basis: 30%;
	
	/* Determines the width of the column */

	order: 2;
	
	/* Determines the order in which it comes from left to regards in relation to the other columns */
	
	
	border: 3px solid black;
}


.profile2 {
	flex-basis: 30%;
	order: 1;
	border: 3px solid black;
	padding:3px;
}

.profile3 {
	flex-basis: 30%;
	order: 3;
	border: 3px solid black;
}
