/* COMMENTED OUT - Conflicts with Bootstrap

@media(min-width:768px){
	
	
	.container {
		display: flex;
		
		align-items: stretch;
		
		flex-wrap: wrap; 
		
		justify-content: space-between;
		
	
}
	
}

*/

body {
	background-color: #D3D3D3;
	color: brown;
	font-family: Helvetica;
	text-align: center;
	}
	

/* COMMENTED OUT - Adds unwanted borders
.container div{
	border: 3px solid black;
	padding:10px;
}
*/

.profile1 {
	flex-basis: 30%;
	
	/* Determines the width of the column */

	order: 2;
	
	/* Determines the order in which it comes from left to regards in relation to the other columns */
	
	
	border: 3px solid black;
}


.profile2 {
	flex-basis: 30%;
	order: 1;
	border: 3px solid black;
	padding:3px;
}

.profile3 {
	flex-basis: 30%;
	order: 3;
	border: 3px solid black;
}
